
#photo{
    border:1px red;
}
QLabel {
    color:#4a4a4a;
    font-family:"Microsoft YaHei UI";
}
QDialog {
    font-family:"Microsoft YaHei UI";
}
QPushButton {
    background-color:#3dce3d;
    color:white;
    border:0px;
    font-family:"Microsoft YaHei UI";
}
QTextBrowser {
    color:red;
}
QToolButton{
    border:1px;
}

QToolButton:hover {
    background-color:#ff2200;
}
QPushButton:hover {
    background-color:#D35400;
}
QPushButton:active {
    background-color:#3dce3d;
}
